.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-btn{
    margin-top: 1rem;
    background-color: aquamarine;
    border: 1px solid black;
    width: 32px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
}

.countNum {
    font-size: 16px;
    margin-left: 1rem;
    background-color: white;
    padding: 2px 8px 2px 8px;
    border: 1px solid black;
}

.agregar-carrito {
    background-color: aquamarine;
    width: 150px;
    margin-left: 3.5rem;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
}