.products-container{
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
    margin-top: 3rem;
    gap: 2rem;
}

.products-container a{
    text-decoration: none;
    color: black;
}

.products-container a:hover{
    text-decoration: none;
    color: orange;
}